

@import url('./base.css');
@import url('./utilityClasses.css');

/* ==================== Home Main =================== */

.hero__home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1), rgba(120, 202, 92, 0.9)), url(../images/assets/6.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 80vh;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 7rem;
    padding-top: 5rem;
    column-gap: 50rem;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 2.5rem;
}

.hero__social__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
}

.social__trophy,            /* Home Hero Social Link  */
.social__road {
    display: flex;
    justify-content: space-between;
    column-gap: 1.5rem;
    align-items: center;
}

/* <--------------------------------------- Home Main Feature   ---------------------------------------> */

/* ==================== About Car =================== */

.select__home {
    background-color: var(--bg--first--color);
    padding: 4rem;
}

.select__main__cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-left: 4rem;

}

.select__main__cont li {
    border-top: 2px solid var(--button--secondary--bg--color);
    padding: 50px 7rem 0 0;
    margin-top: 3rem;
    position: relative;
}

.select__main__cont li:nth-child(4) {
    position: relative;
    border: none;
    padding: 50px 7rem 0 0;
    margin-top: 3rem;
}


.select__main__cont li:nth-child(1)::before {
    content: '1';
    font-size: 2rem;
    font-weight: var(--weight--bolder);
    border-radius: 5px;
    padding: 1rem 1.5rem;
    background-color: var(--button--secondary--bg--color);
    color: var(--font--white--color);
    position: absolute;
    top: -12%;
}

.select__main__cont li:nth-child(2)::before {
    content: '2';
    font-size: 2rem;
    font-weight: var(--weight--bolder);
    border-radius: 5px;
    padding: 1rem 1.5rem;
    background-color: var(--button--secondary--bg--color);
    color: var(--font--white--color);
    position: absolute;
    top: -12%;
}

.select__main__cont li:nth-child(3)::before {
    content: '3';
    font-size: 2rem;
    font-weight: var(--weight--bolder);
    border-radius: 5px;
    padding: 1rem 1.5rem;
    background-color: #179510;
    color: #fff;
    position: absolute;
    top: -12%;
}

.select__main__cont li:nth-child(4)::before {
    content: '4';
    font-size: 2rem;
    font-weight: var(--weight--bolder);
    border-radius: 5px;
    padding: 1rem 1.5rem;
    background-color: var(--button--secondary--bg--color);
    color: var(--font--white--color);
    position: absolute;
    top: -12%;
}

/* ==================== Vehicle Fleet =================== */


.vehcile__fleet__container{
   
    position: relative;
    /* height: 58vh; */
    width: 100%;
    overflow: hidden;
}

.main__fleet__box{
    width: 100%;
    display: flex;
    gap: 2rem;
    transition: all 0.5s ease-in-out;
    padding: 1rem;
   
}

.fleet__box{
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
    box-sizing: border-box;
    padding: 1rem;
    flex-wrap: wrap;
    border: 1px solid var(--navbar--bg--color);
    border-radius: 8px;
    width: 30%;
    box-shadow: 0px 0px 10px 0px rgba(164, 164, 186, 0.4);
    overflow: hidden;
    /* width: 30%;
    flex: 0 0 auto; */
    margin: 0 1.5rem;
}

.vehicle__image{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
    overflow: hidden;
}

.vehicle__image img{transition: all 0.5s ease-in-out;}

.vehicle__image:hover img{
    transform: scale(1.1);
}

.vehicle__description{
    padding: 1.3rem 2rem ;
    width: 100%;
}

.description__box1,
.description__box3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.description__box2{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--navbar--bg--color);
    margin-bottom: 1rem;
}

.description__box1 h3{
    color: #121212;
    font-size: 2rem;
    letter-spacing: 0.5px;
}

.description__box1 span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.description__box2 span p{
    font-weight: var(--weight--bolder);
}

.description__box3 h2{
    font-size: 2.8rem;
}

.description__box3 p{
    color: #4f4f4f;
    font-size: 1.4rem;
}

.description__box1 i{
   color: var(--font--primary--color);
   background-color: var(--font--white--color);
   font-size: 1.8rem;
   padding:  0 0;
   border-radius: 0;
   height: 30px;
   width: 30px;
   padding-top: 0.6rem;
}
.description__box2 .svg__img{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: .4rem;
    margin-right: 1.5rem;
    padding: 1rem 0;
}

.svg__img img{
    width: 18px;
    height: 18px;
    color: var(--font--primary--color);
}

.slider__button {
    font-size: 1.8em;
    height: 2.2em;
    width: 2.2em;
    background-color: #ffffff;
    position: absolute;
    top: 25%;
    border: none;
    color: #179510;
    box-shadow: 0 0 10px 2px  rgba(164, 164, 186, 0.4);
    cursor: pointer;
    border-radius: 50%;
    margin: 0 30px;
    z-index: 10;
}
  
button#next {
    right: -1.1em;
}
  
button#prev {
    left: -1.1em;
}

.hidden-left{
    opacity: 0;
    transform: translateX(-30%);
    transition: all 1s;
}

.hidden-right{
    opacity: 0;
    transform: translateX(30%);
    transition: all 1s;
}

.hidden-down{
    opacity: 0;
    transform: translateY(30%);
    transition: all 1s;
}

.show {
    opacity: 1;
    transform: translateX(0%);
}
.show-down {
    opacity: 1;
    transform: translateX(0%);
}


.about__section{
    background-image: linear-gradient(rgba(120, 202, 92, 0.2),rgba(0, 0, 0, 0.7),rgba(120, 202, 92, 0.2)), url('../images/assets/4.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    padding: 4rem 0;
    margin: 10rem 0;
}

.about__car__rental__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom:6rem;
}

.about__car__rental__content h2{
    color: var(--font--white--color);
    width: 47%;
}
.about__car__rental__content p{
    width: 50%;
    text-align: justify;
    color: var(--font--gray--color);
    padding: 2rem;
}

.about__company{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__vehicle{
    width: 23%;
    background-color: rgba(255, 255, 255, .2);
    opacity: 0.9;
    z-index: 1;
    text-align: center;
    padding: 3rem 5rem;
    border-radius: 10px;
}

.about__vehicle .number{
    color: var(--font--secondary--color);
    z-index: var(--second--normal--z-index);
}

.about__vehicle p{
    color: var(--font--gray--color);
    z-index: var(--second--normal--z-index);
}

/* ==================== Feature About Car =================== */

.feature__heading {
    text-align: center;
}

.feature__content {
    margin: 6rem 0;
    display: flex;
    flex: 1 1 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 1em;
}

.feature__content__con1,
.feature__content__con3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 2rem;
}

.feature__content__con2 img {
    width: 650px;
    object-fit: cover;
}

.change__styling {
    width: 250px;
}


/* ==================== Car Feature =================== */

.latest__feature__home {
    min-height: 100vh;
}

.latest__feature__cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 6rem 0;
}

.latest__feature__content {
    display: flex;
    flex-direction: column;
    width: 380px;
}

.latest__feature__image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 15px;
    z-index: var(--smallest--z-index);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
}

.latest__feature__image .date__container{
    background-color: var(--font--primary--color);
    color: var(--font--white--color);
    height: 65px;
    width: 54px;
    padding: 0.5rem;
    position: absolute;
    top: 7%;
    left: 5%;
    border-radius: 5px;
    text-align: center;
   
}
.date__container :nth-child(1){
    font-size: 3.5rem;
    font-weight: var(--weight--bolder);
}

.date__container :nth-child(2){
    font-size: 10px;
    letter-spacing: 5px;
    padding-left: 5px;
}

.latest__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    row-gap: 1rem;
    background-color: var(--font--white--color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 2rem 2.5rem;
    margin: -4rem 2rem 0 2rem;
    text-align: justify;
    border-bottom: 3px solid lawngreen;
    z-index: var(--second--normal--z-index);
}

/* ==================== Why You Us =================== */

.question__heading {
    text-align: center;
}

.quention__box {
    display: flex;
    justify-content: space-between;
    /* min-height: 50vh; */
    margin-top: 6rem;
}

.question__content {
    width: 48.55%;
}

.questions {
    width: 100%;
}

.questions p:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--bg--first--color);
    border-radius: 1px;
    margin-bottom: 2rem;
    cursor: pointer;
}

.questions p img {
    background-color: var(--font--primary--color);
    object-fit: cover;
    padding: 1.2rem;
    border-radius: 5px;
    height: 35px;
    width: 35px;
}

.answer__description {
    display: none; 
    height: 0; 
    overflow: hidden; 
    transition: height 0.7s ease-in-out;
}

.answer__description.show {
    display: block;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.marquee {
    padding: 40px 0 ;
    background-color: var(--bg--third--color);
    z-index: var(--normal--z-index);
    overflow: hidden;
    white-space: nowrap;
}
  
.marquee__inner {
    display: inline-block;
    animation: 10s marquee linear infinite;
    white-space: nowrap;
}

.marquee__about__car .marquee__txt{
    display: inline-block;
    font-size: 64px;
    line-height: 64px;
    font-weight: var(--weight--bold) ;
    color: var(--font--secondary--color);
    white-space: nowrap;
}

.marquee__about__car .marquee__dot{
    width: 100px;
    max-height: 10px;
    margin: 0 50px;
    padding: 2px;
    display: inline-block;
    transform: translateY(-15px);
    background: var(--font--primary--color);
}

/* Define the animation */
@keyframes marquee {
    0% {
        transform: translateX(2%);
    }
    100% {
        transform: translateX(-100%);
         /* Adjust for spacing */
    }
}




/*--------------------------AYan----------------------------*/
/* 
.vehcile__fleet__container{
    height: 70vh;
    width: 100%;
}


.vehicle___fleet__wrapper {
    position: relative;
    width: 100%;
    border-radius: 0.6em;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid darkblue;
    overflow: hidden;
} */
/* 
.vehicle___fleet-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 52px;
    transition: all 0.5s ease-in-out;
}

.vehicle___fleet {
    width: 31%;
    flex: 0 0 auto;
    border-radius: 8px;
    height: 388px;
    text-align: center;
    border: 1px solid #ccc; 

    background-color: #f9f9f9;
  }
  
  .vehicle___fleet p {
    color: #8c8c90;
    font-size: 7px;
    line-height: 2em;
    letter-spacing: 0.05em;
  }
  
  .vehicle___fleet .car__image{
    border-radius: 8px;
    width: 100%;
    height: 220px;
  }
  
  .vehicle___fleet h3 {
    color: #2d3d67;
    font-size: 1em;
  }

  .vehicle___fleet h4{
    color: black;
    position: relative;
    left: -127px;
    top: -6px;
    font-weight: bold;
}

  .vehicle___fleet .car__det{
    display: flex;
  position: absolute;
  left: 42px;
  top: 243px;


  }
.car__det p{
    font-size: 15px;
    color: black;
    font-weight: bolder;
  }

  .car__name{
    display: block;
    font-weight: bolder;
    position: relative;
    left: 15px;
    top: 10px;
    font-size: 18px;
    width: 187px;
  text-align: left;
  }

  .vehicle___fleet i{
    background-color: transparent;
    font-size: 16px;
    column-gap: 5px;
    color: var(--button--primary--bg--color);
    height: 10px;
    width: 24px;
  }

  .rating_stars{
    position: relative;
    left: 111px;
    top: -67px;
  }
  
  .vehicle___fleet h6 {
    color: black;
    font-size: 0.9em;
    letter-spacing: 0.03em;
    font-weight: 400;
    margin-top: 16px;
  }
   */
  
