
.main__wrapper{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)) ,url('../images/assets/contactheader.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.wrapper{
    display: flex;

    align-items: center;
    flex-direction: column;
    min-width: 400px;
    height: 450px;
    overflow: hidden;
    background: #1c1c1c;
    border-radius: 8px;
    backdrop-filter: blur(7px);
    position: relative;
}

.wrapper form{
    position: absolute;
    inset: 5px;
    background-color:#222;
    border-radius: 8px;
    padding: 3rem 4rem;
    z-index: var(--smallest--z-index);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;

}

.wrapper form h2{
    margin: 2rem 0 ;
    font-size: 3rem;
    color: #fff;
}

.wrapper::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 450px;
    background: linear-gradient(0deg, transparent, #1ECB15,#1ECB15, #1ECB15 ,#1ECB15);
    z-index: -1;
    transform-origin: bottom right;
    animation: animate 3s linear infinite;
}

.inputbox{
    width: 100%;
    position: relative;
}

.inputbox :nth-child(1){
        margin-bottom: 1.5rem;
}

.inputbox input{
    width: 100%;
    font-size: 1.7rem;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, .75);
    background-color:transparent !important;
    padding: 1rem 4rem 1rem 0.5rem;
    color: #fff;
    border-radius: 0px;
}

.inputbox i{
    position: absolute;
    bottom: 20px;
    right: 3px;
    padding: 0 0;
    height: 30px;
    width: 30px;
    background: transparent;
    font-size: 2rem;
    color: rgba(255, 255, 255, .75);
}


.btn1{
    width: 100%;
}

.btn1 .account__btn{
    margin: 1rem 0;
    display: inline-block;
    background-color: #1ECB15;
    color: #fff;
    font-size: 1.7rem;
    padding: 1.5rem 3rem;
    font-weight: 600;
    border-radius: 30px;
    width: 100%;
    transition: all 0.5s ease-in-out ;
}

.btn1 .account__btn:hover{
    box-shadow: 1px 1px 15px 1px #1ECB15;
}

.reminber p{
    font-size: 1.6rem;

}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}